.sale{
    position: relative;
    margin-top: 20px;
}
.section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #7971ea;
}